<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block head %}My App{% endblock %}</title>
</head>
<body>

    {% block body %}
    {% endblock %}

    <footer>
        {% block footer %}
            <p>© 2026 My Symfony App</p>
        {% endblock %}
    </footer>

</body>
</html>